name: Append Data to CSV

on:
  #schedule:
  #  - cron: '1/15 * * * *' 
  workflow_dispatch:  # Allows manual triggering

env:
  SUPER_SECRET_API: ${{ secrets.SUPER_SECRET_API }}

jobs:
  append_data:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Fetch and append data
      run: ./fetch_and_append.sh

    - name: Commit and push changes
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "github-actions@github.com"
        git add data/data.csv
        git commit -m "Append new data to CSV"
        git push

